::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
}

.table_content {
    box-shadow: rgb(20 20 20 / 20%) 0px 4px 8px;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
    text-align: center;
    background: rgb(255, 255, 255);
    border-radius: 4px;
    margin-top: 10px;
}

.logo_header {
    float: left;
    width: fit-content;
}

.logo_header svg {
    width: 250px;

}

@media (max-width: 940px) {
    .logo_header svg {
        width: 200px;
    }

}

@media (max-width: 870px) {
    .logo_header svg {
        width: 150px;
    }
}

.search {
    margin-right: 20px;
    width: 20%;
    min-width: 200px;
}

.search_button {
    position: absolute;
    right: 4px;
    top: 4px;
    background-color: #c00;
    border-radius: 50%;
    border: 0;
    color: #fff;
    width: 35px;
    height: 35px;
    outline: 0;
}

.tab {
    font-family: "Work Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.about {
    margin-right: 20px;
}

.setting {
    margin-top: 5px;
}

.network {
    float: right;
    margin-right: 50px;
    height: 50px;
}

.network button {
    top: 20%;
    border-radius: 5px;
    font-family: "Work Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wallet {
    float: right;
    margin-right: 20px;
    height: 50px;
}

.wallet button {
    top: 20%;
    border-radius: 15px;
    font-family: "Work Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wallet_address {
    float: right;
    margin-right: 5px;
    display: grid;
    place-items: center;
    height: 50px;
}

.wallet_address span {
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0px 0.5rem 0px 0.25rem;
    width: fit-content;
    font-weight: 500;
}

.wallet_address button {
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
    border-radius: 15px;
    font-family: 'Work Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.wallet_token {
    color: gray;
    font-size: 0.9em;
}

.generate_token {
    cursor: pointer;
    font-size: 12px;
    background-color: antiquewhite;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 2px;
    padding: 5px;
    border-radius: 5px 5px 5px;
    position: relative;
}

.about_content {
    box-shadow: rgb(20 20 20 / 20%) 0px 4px 8px;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
    padding: 50px;
    text-align: left;
    font-family: "Work Sans", sans-serif;
}

.about_content h3 {
    font-weight: bold;
}

.deposit_header {
    text-align: left;
    padding-bottom: 10px;
    margin-top: 20px;
}

.deposit_header h3 {
    font-weight: bold;
}

.deposit_header span {
    color: gray;
    font-size: 1rem;
}

.link {
    color: "#7850cd";
    underline: none;
}

.div_bottom {
    font-size: 0.875rem;
    text-align: center;
    margin-top: 100px;
    width: 100%;
}

.div_token {
    /*display: grid;*/
    /*place-items: center;*/
    padding: 10px 16px;
    display: flex;
    flex-direction: column;
    /*Remove when we need to add more data*/
    align-items: center;
}

.div_token_info {
    display: grid;
    margin-bottom: 10px;
    -webkit-box-align: start;
    align-items: start;
    gap: 10px;
    grid-template-columns: 1fr;
}

@media only screen and (min-width: 960px) {
    .div_token_info {
        margin-bottom: 30px;
        gap: 30px;
        grid-template-columns: repeat(auto-fit, 380px);
    }

    .div_token_info_stats_item_data {
        padding-left: 0px;
    }

    .div_token_info_supply {
        grid-template-columns: repeat(auto-fit, 280px);
        flex-direction: column;
        align-items: flex-start;
    }
}

.div_token_info_row {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    padding: 20px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 15%) 0px 1px 0px;
    transition: background 0.5s ease 0s, box-shadow 0.5s ease 0s;
    border-radius: 20px;
}

.div_token_info_logo {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 55px;
    height: 55px;
    border-radius: 12px;
    background-color: rgb(10, 8, 6);
    margin-right: 16px;
}

.div_token_info_supply {
    display: flex;
    flex: 1 1 0%;
    -webkit-box-align: center;
    align-items: center;
    text-align: left;
}

.div_token_info_supply_data {
    flex: 1 1 0%;
    font-size: 30px;
    letter-spacing: -1px;
    color: rgb(0, 0, 0);
}

.div_token_info_supply_value {
    display: inline;
    margin-right: 4px;
}

.div_token_info_supply_sub_title {
    display: inline;
    font-size: 18px;
}

.div_token_info_supply_title {
    flex: 1 1 0%;
    font-weight: 500;
    font-size: 14px;
    color: rgb(140, 140, 140);
    text-transform: uppercase;
}

.div_token_info_column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 15%) 0px 1px 0px;
    transition: background 0.5s ease 0s, box-shadow 0.5s ease 0s;
    border-radius: 20px;
}

.div_token_info_stats_title {
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.div_token_info_stats_sub_title {
    font-size: 15px;
    color: rgb(0, 0, 0);
    margin-top: 10px;
    font-weight: bold;
}

.div_token_info_stats_item {
    display: flex;
    width: 100%;
    height: 40px;
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 1px solid rgb(236, 236, 236);
}

.div_token_info_stats_item_title {
    flex: 1 1 0%;
    font-weight: 500;
    font-size: 14px;
    color: rgb(140, 140, 140);
    padding-top: 1px;
}

.div_token_info_stats_item_data {
    flex: 1 1 0%;
    font-weight: 500;
    font-size: 18px;
    color: rgb(0, 0, 0);
}

.div_token_info_stats_item_data_value {
    display: inline;
    margin-right: 2px;
    font-size: 1rem;
}

.div_token_info_stats_item_data_value_address {
    font-size: 0.87rem;
    display: inline;
    margin-right: 2px;
}

.div_underlined {
    display: inline;
    font-size: 14px;
}

.operator_detail_header {
    text-align: left;
    padding-bottom: 10px;
    display: flex;
}

.operator_detail_header h3 a {
    font-weight: bold;
    color: rgb(10, 8, 6);
}

.operator_detail_header span {
    color: gray;
    font-size: 1rem;
}

.operator_detail_header_address {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    flex: 1 1 0%;
}

.operator_detail_header_address h3 {
    font-weight: bold;
}

.operator_detail_header_value {
    display: flex;
    flex-direction: row;
}

.operator_detail_header_value_item {
    font-size: 30px;
    color: rgb(10, 8, 6);
    font-feature-settings: "zero";
    margin-right: 40px;
}

.operator_detail_header_value_item_lable {
    font-size: 16px;
}

.operator_detail_header_value_item_lable_sub {
    font-size: 14px;
}

.operator_detail_header_value_item_percent {
    font-size: 20px;
    color: gray;
}

.operator_detail {
    box-shadow: rgb(20 20 20 / 20%) 0px 4px 8px;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
    background: rgb(255, 255, 255);
    border-radius: 4px;
}

.operator_detail_overview {
    display: flex;
    flex-direction: row;
}

.operator_detail_overview_table {
    color: rgb(10, 8, 6);
}

.operator_detail_overview_table a {
    color: #ae96e1;
    font-size: 0.875rem;
}

.operator_detail_overview_table td, .operator_detail_overview_table th {
    font-weight: normal;
    padding: 5px;
    text-align: left;
    vertical-align: top;
    font-size: 1rem;
}

.operator_detail_overview_table td {
    padding-left: 60px;
    display: flex;
}

.operator_detail_overview_table tbody.operator_detail_overview_table_tbody th:first-child {
    padding-left: 20px;
}

.operator_detail_overview_table_td {
    color: gray;
    font-size: 0.8em;
}

.log_item:not(:last-child) {
    margin-bottom: 20px;
    border-bottom: 1px dotted silver;
    padding-bottom: 20px;
}

.log_item_lable {
    font-size: 0.875em;
    margin-bottom: 0.4em;
    color: gray;
}

.beacon_groups_table {
    width: 100%;
    margin-top: 20px;
}

.beacon_groups_table th {
    text-align: left;
    font-size: 1.15rem;
}

.beacon_groups_table td {
    border-bottom: 1px solid rgb(245, 245, 245);
    text-align: left;
    min-width: 100px;
}

.span_t_token{
    font-size: 20px;
}