.table_content {
  box-shadow: rgb(20 20 20 / 20%) 0px 4px 8px;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: grey;
  text-align: center;
}

.search {
  float: right;
  margin-right: 70px;
  width: 400px;
  min-width: 200px;
}

.search_button {
  position: absolute;
  right: 4px;
  top: 4px;
  background-color: #c00;
  border-radius: 50%;
  border: 0;
  color: #fff;
  width: 35px;
  height: 35px;
  outline: 0;
}

.tab {
  font-family: "Work Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.about {
  float: right;
  margin-right: 20px;
}

.setting {
  float: right;
  margin-right: 10px;
  margin-top: 5px;
}

.search {
  float: right;
}

.network {
  float: right;
  margin-right: 50px;
  height: 50px;
}

.network button {
  top: 20%;
  border-radius: 5px;
  font-family: "Work Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wallet {
  float: right;
  margin-right: 20px;
  height: 50px;
}
.wallet button {
    top: 20%;
  border-radius: 15px;
  font-family: "Work Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wallet_address {
  float: right;
  margin-right: 5px;
  display: grid;
  place-items: center;
  height: 50px;
}

.wallet_address span {
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0px 0.5rem 0px 0.25rem;
    width: fit-content;
    font-weight: 500;
}

.wallet_address button {
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
    border-radius: 15px;
    font-family: 'Work Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.wallet_token {
   color:gray;
   font-size: 0.9em;
}

.generate_token{
    cursor: pointer;
    font-size: 12px;
    background-color:antiquewhite;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 2px;
    padding: 5px;
    border-radius: 5px 5px 5px;
    position: relative;
}

.about_content {
  box-shadow: rgb(20 20 20 / 20%) 0px 4px 8px;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: grey;
  padding: 50px;
  text-align: left;
  font-family: "Work Sans", sans-serif;
}

.about_content h3 {
  font-weight: bold;
}

.deposit_header {
  text-align: left;
  padding-bottom: 10px;
  margin-top: 20px;
}

.deposit_header h3 {
  font-weight: bold;
}

.deposit_header span {
  color: gray;
  font-size: 1rem;
}

.link{
    color: "#7850cd";
    underline: none;
}

.div_bottom{
  font-size: 0.875rem;
  text-align: center;
  margin-bottom: 50px;
}