.table {
  border-collapse: collapse;
  width: 100%;
  background-color: #fff;
  border-radius: 15px;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.table th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 20px;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;

}

.table td {
  border-bottom: 1px solid rgb(245, 245, 245);
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  font-size: 0.875rem;
}

.table .selected{
  background:aliceblue;
}

.nodata{
  padding-top: 30px;
  padding-bottom: 10px;
  background-color: #fff;
  text-align: center;
}

.link{
  color: "#7850cd";
  underline: none;
  font-family: monospace, monospace;
}

.table .proportion{
  color: gray;
  font-size: 0.9em;
}

.pagination {
  margin: 30px 35px 0;
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.pagination p {
  margin: 0;
}

.rowSeleted{
  background:antiquewhite;
}

.td_selected {
  width: 0;
}

.container_detail{
  margin:0;
  background:floralwhite;
}
.detail_item{
  display: flex;
  margin: 0;

}

.timeline{
  width: 50%;
}

.bySpan{
  padding-left: 10px;
  padding-right: 10px;
  font-size: 0.8rem;
  color: gray;
}

.span_note{
  font-size: 0.8rem;
}

.by_link{
  color:"#7850cd";
  font-size: 0.8rem;
}

.table_detail{
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 0 !important;
    border-spacing: 0 !important;
    
}

.table_detail td {
  border-bottom: 0px;
  font-size: 0.875rem;
  font-weight: 500;
}
.numbers{
  font-family: monospace, monospace;
}